GMAIL_MODE=api
IMAP_HOST=imap.gmail.com
IMAP_USER=you@gmail.com
IMAP_APP_PASSWORD=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_RANGE=Ledger!A1
GOOGLE_OAUTH_CLIENT_SECRET_JSON=./credentials/client_secret.json
GOOGLE_GMAIL_OAUTH_TOKEN_JSON=./credentials/gmail_token.json
GOOGLE_SHEETS_OAUTH_TOKEN_JSON=./credentials/sheets_token.json
TIMEZONE=America/New_York
FRIEND_NAME=Matt
EMAIL_FIXTURES_DIR=
